<div *ngIf="buckets">
	<h3 class='page_title'>Bucket list</h3>

	<!-- div for creation of new bucket -->
	<div class='create' [ngClass]="{'hide' : divHide}">
		<p>Create New Bucket</p>
		<div class='container2'>
			<form name="submittingForm" [formGroup]="submittingForm" (ngSubmit)="onSubmit()" class="form-card">
			    <div class="row justify-content-between text-left">
			        <div class="form-group col-sm-5 flex-column d-flex"> 
			        	<label for="name" class="form-control-label pb-3">Bucket Name*</label> 
			        	<input (ngModelChange)="hideWarning()" type="text" id="name" name="name" formControlName="name" class='border border-dark border-2' > 
			        </div>
			        <div class="form-group col-sm-5 flex-column d-flex me-5 "> 
			        	<label for="location" class="form-control-label pb-3">Bucket Location*</label> 
			        	<select (ngModelChange)="hideWarning()" id="location" name="location" formControlName="location" class='border border-dark border-2'>
			        		<option *ngFor="let city of cities" value={{city.name}}>{{city.name}}</option>
			        	</select>
			        </div>
			        <div class="create-btn-div">
			        	<button type="submit" class="btn btn-primary btn-sm create-btn">Create New Bucket</button>
			        	<p [ngClass]="{'hide' : warningHide}">*please fill in all required fields</p>
			        </div>
			    </div>
			</form>
		</div>
	</div>

	<!-- div with all buckets -->
	<div class='container2'>
		<div class='top'>
			<p>All Buckets ({{buckets.length}})</p>
			<button type="button" [ngClass]="{'hide' : buttonHide}" (click)="create()" class="btn btn-primary btn-sm create-btn">Create New Bucket</button>
		</div>
		<div class='tableDiv'>
			<table >
			  <tr>
			    <td>Name</td>
			    <td>Location</td>
			  </tr>
			  <tr *ngFor="let bucket of buckets">
			    <td ><a [routerLink]="['/buckets', bucket.id]">{{bucket.name}}</a></td>
			    <td>{{bucket.location}}</td>
			  </tr>		  
			</table>
		</div>
	</div>
</div>